<!DOCTYPE html>
<html>
<head>
  <title>Thomas Waldecker - {{ page.title }}</title>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=2" />
  <link rel="stylesheet" href="/assets/css/style.css" />
  <link rel="stylesheet" href="/assets/css/lightbox.css" />
  <script src="/assets/js/jquery-1.7.2.min.js"></script>
  <script src="/assets/js/lightbox.js"></script>
</head>
<body>

{% include menu.html %}

<h1>{{ page.title }}</h1>

{{ content }}

</body>
</html>
